// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Nanum Gothic Coding', monospace;
// font-family: 'Playfair Display', serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

$font-cal: 'Bad Script', cursive;
$font-norm: 'Nanum Gothic', sans-serif;
$font-mono: 'Nanum Gothic Coding', monospace;
$font-other: 'Playfair Display', serif;

body,
body a {
    margin: 0;
    padding: 0;
    font-family: $font-other;
    // font-size: 10px;
    text-decoration: none;
    color: #000;
   
}
@import "./components/mixIns"; 

.page-one {
    display: grid;
    grid-template-columns: auto repeat(3, 3vw);
    grid-template-areas: 'pg1 pg2 pg3 pg4';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // position: relative;

    .pg1 {
        grid-area: pg1;
        display: block;
    }
    
    .pg2 {
        grid-area:  pg2;
        background-color: cornflowerblue;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 500ms ease-in;  
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.3rem;
        
        
        p {
            justify-content: center;
            position: absolute;
        }

        .rotate {
            position: absolute;
            transform: rotate(90deg);
        }

    }
    .pg3 {
        grid-area: pg3;
        background-color: tomato;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 500ms ease-in;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.3rem;
        
        
        p {
            justify-content: center;
            position: absolute;
        }

        .rotate {
            position: absolute;
            transform: rotate(90deg);
        }
        
        
    }
    .pg4 {
        grid-area: pg4;
        background-color: orange;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 500ms ease-in;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.3rem;
        
        
        p {
            justify-content: center;
            position: absolute;
        }

        .rotate {
            position: absolute;
            transform: rotate(90deg);
        }

       
    }
    .img-hero-pg1 {
        margin: 0;
        padding: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 250ms ease-in;
    }
    .icon-one {
        display: inline-flex;
        position: fixed;
        font-size: 1.5rem;
        font-family: $font-other;
        font-weight: bold;
        margin-left: 1vw;
        // margin-top:

        p {
            padding: .5rem 1rem;
            border: 1px solid #000;
            border-radius: 50%;
        }
    }
    &-head {
        font-size: 3rem;
        font-family: $font-cal;
        padding: 15rem 30vw 11rem 5vw;
        line-height: 1.5;
    

    }
    &-paraOne {
        font-size: 7.3rem;
        padding-left: 3vw;
        padding-right: 55vw;
        
    }
    &-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        justify-content: space-around;
        padding: 0 3rem;
        

        .col {
            display: grid;
            grid-template-rows: auto;

            p {
                font-family: $font-mono;
                line-height: 1.4;
            }
        }

        img {
            width: 100%;
        }
    }
    &-flexTwo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        align-items: center;
        padding: 3.5rem 0;
        font-size: 6rem;

        

        p:not(:nth-child(2)) {
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 1),
                        -1px -1px 0 rgba(0, 0, 0, 1),
                        1px -1px 0 rgba(0, 0, 0, 1),
                        -1px 1px 0 rgba(0, 0, 0, 1);
        }
    }
    &-flexThree {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        text-align: center;
        grid-gap: 3rem;
        position: relative;
        margin: 3rem 5rem;
        background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%);

        background-repeat: repeat-x, repeat-x; 
        background-size: 40px 1px, 40px 1px;  //15px 4px, 15px 4px, 4px 15px, 4px 15px;
        background-position: left top, right bottom; // left bottom, right top;
        padding: 3rem 0 4rem 0;
        animation: border-dance 30s infinite normal;
        animation-timing-function: linear;

        &::before {
            content: "";
            width: 100%;
            position: absolute;
            top: 10px;
            margin: 0;
            padding: 1rem;
            background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%);
            background-repeat: repeat-x, repeat-x; 
            background-size: 40px 1px, 40px 1px;  
            background-position: left right;
            animation: border-dance-before 30s infinite normal;
            animation-timing-function: linear;
        }
        &::after {
            content: "";
            width: 100%;
            position: absolute;
            bottom: 10px;
            margin: 0;
            padding: 1rem;
            background: linear-gradient(90deg, black 50%, transparent 50%); //linear-gradient(90deg, black 50%, transparent 50%);
            background-repeat: repeat-x;; 
            background-size: 40px 1px, 40px 1px;  //15px 4px, 15px 4px, 4px 15px, 4px 15px;
            background-position: right bottom;
            animation: border-dance-after 30s infinite normal;
            animation-timing-function: linear;
        }



        .event-dates {
            padding: 0 3rem;
        }
    }
    .see-all {
        display: flex;
        justify-content: center;
        position: absolute;  
        bottom: -25%; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        a {
            text-decoration: none;
            color: #000;
        }

        p {
        // position: absolute;
        padding: 1.5rem 4rem;
        border: 1px solid #000;
        background-color: #fff;
        
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
    .directions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3.7rem;
        padding: 0 3.7rem;
        margin: 10rem 0 0.9rem;
        
        
        &-text {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 90px 30px;
            background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
            background-position: 0 0, 0 100%, 0 0, 100% 0;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
            animation: map 13s infinite normal ;
            animation-timing-function: linear;
            animation-play-state: paused;

            &:hover {
                animation-play-state: running;
            }

            p {
                font-size: 3.7rem;
                margin: 0 3rem;
            }
        }
        &-map {
            padding: 1px;
            background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
            background-position: 0 0, 0 100%, 0 0, 100% 0;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
            animation: map 13s infinite normal;
            animation-timing-function: linear;
            animation-play-state: paused;

            &:hover {
                animation-play-state: running;
            }

            &-img {
                background-position: cover;
                background-size: 50%;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                    
            }
        }
    }
}


footer {
    padding-top: 6rem;
    .line {
        padding-bottom: 1rem;
        margin: 0 auto;
        width: 90%;
        background: repeating-linear-gradient(-45deg, rgba(0,0,0, .3) 1px, transparent 5px); // #000000 2%, transparent 3%);
        background-size: 100% 12px;;
        background-repeat: repeat-x;
        background-position: 0 0;
    }
    .section1  {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 15rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: $font-cal;

        p {
            margin: 0;
            font-size: 3.5rem;
        }
        a {
            cursor: pointer;
        }
        .btn-foot {
            cursor: pointer;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 1);
            background-color: #fff;
            font-family: $font-cal;
            padding: .5rem 2.7rem;

            &:hover {
                color: #fff;
                background-color: #000;
            }
        }
    }
    .line-reverse {
        padding: 2rem;
        margin: 0 auto;
        width: 90%;
        background: repeating-linear-gradient(45deg, rgba(0,0,0, 0.3) 1px, transparent 5px);
        background-size: 100% 12px;
        background-repeat: repeat-x;
        background-position: 0 0;
    }
    .section2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        width: 90%;
        grid-column-gap: 3rem;


        .col-sec2 {
            // border: 1px solid red;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 3rem 0;
            background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
            background-position: 0 0, 0 100%, 0 0, 100% 0;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
            animation: map 13s infinite normal ;
            animation-timing-function: linear;
            animation-play-state: paused;

            &:hover {
                animation-play-state: running;
            }

            i {
                font-size: 2rem;
                padding-bottom: 1rem;
            }

           p {
               font-size: 1.1rem;
               font-family: $font-mono;
           }
        }

    }  
    .section3 {
        display: flex;
        justify-content: space-between;
        padding: 2rem 4rem;
        margin: 3rem auto;
        width: 90%;
        font-family: $font-mono;
        font-size: 1.4rem;
        font-weight: bold;
        background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
        background-position: 0 0, 0 100%, 0 0, 100% 0;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
        animation: map 13s infinite normal ;
        animation-timing-function: linear;
        animation-play-state: paused;

        &:hover {
            animation-play-state: running;
        }

        input {
            width: 50rem;
            padding: 0 3rem;
        }

    }
    .section4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 3rem auto;
        width: 90%;
        font-size: 0.9rem;
        font-family: $font-norm;
        font-weight: bold;

        .col-left {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            p, a {
                padding-right: 3rem;
            }
            a {
                text-decoration: underline;
            }
        }
    }
}
