// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Nanum Gothic Coding', monospace;
// font-family: 'Playfair Display', serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

$font-cal: 'Bad Script', cursive;
$font-norm: 'Nanum Gothic', sans-serif;
$font-mono: 'Nanum Gothic Coding', monospace;
$font-other: 'Playfair Display', serif;

body,
body a {
    margin: 0;
    padding: 0;
    font-family: $font-other;
    // font-size: 10px;
    text-decoration: none;
    color: #000;
   
}
@import "./components/mixIns"; 
@import "./components/footer";
@import "./components/pageOne";

.change-page-two {
    display: grid;
    grid-template-columns: 3vw auto repeat(2, 3vw);
    cursor: pointer;

    .pg1 {
        visibility: hidden;
    }

    .icon-one {
        margin-left: .15vw;
        visibility: visible;
    }
}

.page-two {
    background-color: yellow;
}

